@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter_18pt-Regular.ttf');
}
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}